
<ul>
    <li>
        <a href="/admin">My home</a>
    </li>
    <li>
        <a href="/adminClasses">Classes</a>
    </li>
    <li>
        <a href="/adminStudents">Students</a>
    </li>
    <li>
        <a href="/adminProfile">My Profile</a>
    </li>
</ul>