{% extends '_base.html.twig' %}

{% block title %}Instructors home{% endblock %}

{% block main %}

    <h1>{{ username }}'s Homepage</h1>
    <p>
        To view the classes you are an instructor click <a href="/adminClasses">Classes page</a>.
    </p>

{% endblock %}