{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}Home page{% endblock %}

{# ----------------------------------------#}
{% block indexStyle %}current_page{% endblock %}

{% block main %}
    <h3> About us </h3>
    <p>
        Mixed martial arts (MMA) is a full-contact combat sport that allows the use of both striking and grappling techniques,
        both standing and on the ground, from a variety of other combat sports and martial arts.
    </p>
    <p>
        We train at a local school hall. We offer classes to suit all levels from white belt to black belt. Our instructors
        are black belt certified.
    </p>
{% endblock %}